.container
  null

  .overflow-container
    position: relative
    left: 50%
    max-width: 100vw
    transform: translateX(-50%)

    &,
    &.size-medium
      min-width: 140%

.scrollable-y
  overflow-y: auto
  overflow-x: hidden

  &.hide-scrollbar
    &::-webkit-scrollbar
      width: 1px
    &::-webkit-scrollbar *
      background: transparent
    &::-webkit-scrollbar-thumb
      background: rgba(255,0,0,0.001) !important

  &::-webkit-scrollbar
    width 4px
    background rgba(0, 0, 0, 0)

  &::-webkit-scrollbar-thumb
    width 4px
    background var(--brand)
    border-radius 3px

  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track-piece,
  &::-webkit-scrollbar-corner,
  &::-webkit-resizer
    display none
