:root
  // Colors
  defineColorVar(--brand, $brandHex)
  defineColorVar(--primary, $primaryHex)
  defineColorVar(--secondary, $secondaryHex)
  --mark: $mark

  // Fonts
  --fonts-title: PingFang SC, 'Helvetica Neue', Microsoft Yahei, sans-serif
  --fonts-body: 'Menlo', 'Meslo LG', 'Helvetica Neue', PingFang SC, Microsoft Yahei, sans-serif
  --fonts-blog: 'PT Serif', 'George', "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "SimSun", sans-serif
  --fonts-ui: 'Helvetica Neue', PingFang SC, Microsoft Yahei, sans-serif
  --fonts-code: null

  // Radius
  --radius-0: 0px
  --radius-1: 5px
  --radius-2: 10px
  --radius-3: 15px
  --radius-4: 20px

  // Shadows
  // @TODO: Refine shadows, remove blur
  --shadow-0: none
  --shadow-1: 0px 1px 1px primary(14)
  --shadow-2: 0px 2px 3px primary(14)
  --shadow-3: 0px 4px 5px -1px primary(14)
  --shadow-4: 0px 12px 17px primary(14)
  --shadow-5: 0px 12px 17px primary(14)
  --shadow-6: 0px 24px 38px primary(14)
  --shadow-panel: 0px 0px 16px -1px primary(5), 0px 0px 16px -8px primary(5), 0px 0px 16px -12px primary(12)

  // Layout
  --header-height: 160px
  --footer-height: 240px
  --container-width: 700px
