body,
.overflow-container
  cursor: url(@/assets/cear-ui/cursors/default.png), auto

.el-link,
.el-button,
.handler,
.shadow-handler,
button,
a
  cursor: url(@/assets/cear-ui/cursors/pointer.png) 2 0, pointer !important

  &.disabled
    cursor: not-allowed !important

.readable-render,
p
  // cursor: url(@/assets/cear-ui/cursors/select.png), text
  cursor: text
