// Atomic
.trans,
.transition
  transition: 300ms

[class*="anim-"],
.animation
  animation-fill-mode: both
  animation-iteration-count: infinite
  animation-duration: var(--duration, 300ms)
  animation-delay: var(--delay, 0ms)

.delay-small
  --delay: 0.2s

.delay-medium
  --delay: 0.4s

.delay-large
  --delay: 0.7s

.delay-second
  --delay: 1s

.duration-small
  --duration: 0.2s

.duration-medium
  --duration: 0.4s

.duration-large
  --duration: 0.7s

.duration-second
  --duration: 1s

// Keyframes & Animations
@keyframes anim-vert-shake
  0%
    -webkit-transform: none
    transform: none
  100%
    transform: skew(1.5deg,.2deg) translate(0,-1.5px)

@keyframes anim-squiggly
  0%
    filter s('url(#filter-squiggly-0)')
  25%
    filter s('url(#filter-squiggly-1)')
  50%
    filter s('url(#filter-squiggly-2)')
  75%
    filter s('url(#filter-squiggly-3)')
  100%
    filter s('url(#filter-squiggly-4)')

@keyframes anim-scratchy
  0%
    background-position: 0 0
  25%
    background-position: 0 0
  26%
    background-position: 20px -20px
  50%
    background-position: 20px -20px
  51%
    background-position: 40px -40px
  75%
    background-position: 40px -40px
  76%
    background-position: 60px -60px
  99%
    background-position: 60px -60px
  100%
    background-position: 0 0

.anim-scratchy
  animation: anim-scratchy 0.4s linear forwards infinite

.scratchy-text
  @extends .anim-scratchy
  background: url(@/assets/cear-ui/patterns/scratchy-repeat-white.png)
  background-size: 80px 60px
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  filter: invert(100%)

  &.is-secondary
    filter: inherit

.anim-glimmer
  animation: anim-glimmer var(--duration, 2s) ease-in-out infinite
  animation-delay: var(--delay, 1s)

  @keyframes anim-glimmer
    50%
      opacity: var(--glimmer-opacity, 0)

.anim-suspend
  animation: anim-suspend var(--duration, 3s) ease-in-out infinite

  @keyframes anim-suspend
    50%
      transform: translateY(var(--suspend-y, 20%))

.anim-vert-shake,
.anim-vert-shake-hover:hover
  animation-name anim-vert-shake
  animation-duration .25s
  animation-timing-function steps(2)

.anim-squiggly,
.anim-squiggly-hover:hover
  animation-name anim-squiggly
  animation-duration var(--duration, .7s)
  animation-timing-function linear

  &.anim-vert-shake,
  &.anim-squiggly-hover
    animation-name anim-squiggly, anim-vert-shake
    animation-duration var(--duration, .7s), 0.25s
    animation-timing-function linear, steps(2)
