// Atomic
.trans,
.transition
  transition: 300ms

[class*="anim-"],
.animation
  animation-fill-mode: both
  animation-iteration-count: infinite
  animation-duration: var(--duration, 300ms)
  animation-delay: var(--delay, 0ms)

.delay-small
  --delay: 0.2s

.delay-medium
  --delay: 0.4s

.delay-large
  --delay: 0.7s

.delay-second
  --delay: 1s

.duration-small
  --duration: 0.2s

.duration-medium
  --duration: 0.4s

.duration-large
  --duration: 0.7s

.duration-second
  --duration: 1s

// Keyframes & Animations
@keyframes anim-vert-shake
  0%
    -webkit-transform: none
    transform: none
  100%
    transform: skew(1.5deg,.2deg) translate(0,-1.5px)

@keyframes anim-squiggly
  0%
    filter s('url(#filter-squiggly-0)')
  25%
    filter s('url(#filter-squiggly-1)')
  50%
    filter s('url(#filter-squiggly-2)')
  75%
    filter s('url(#filter-squiggly-3)')
  100%
    filter s('url(#filter-squiggly-4)')

.anim-vert-shake,
.anim-vert-shake-hover:hover
  animation-name anim-vert-shake
  animation-duration .25s
  animation-timing-function steps(2)

.anim-squiggly,
.anim-squiggly-hover:hover
  animation-name anim-squiggly
  animation-duration var(--duration, .7s)
  animation-timing-function linear

  &.anim-vert-shake,
  &.anim-squiggly-hover
    animation-name anim-squiggly, anim-vert-shake
    animation-duration var(--duration, .7s), 0.25s
    animation-timing-function linear, steps(2)
