*,
*::before,
*::after
  box-sizing: border-box
  margin: 0

html
  font-size: 16px
  word-spacing: 1px
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box

body
  font-size: 16px
  line-height: 1.42857
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  font-family: var(--fonts-body)

a
  text-decoration: none

::selection
  background: $brand50

.limit-layout
  margin: 0 auto
  height: 100vh
