text-overflow()
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

multiline-overflow($line = 2, $lineHeight = 20px, $needLineHeight = true)
  display: -webkit-box
  -webkit-line-clamp: $line
  -webkit-box-orient: vertical
  overflow: hidden
  text-overflow: ellipsis
  white-space: normal
  // max-height: ($line * $lineHeight)
  if $needLineHeight
    line-height: $lineHeight
