$zIndexFixed      = 23
$zIndexSketch     = 33
$zIndexSketchUI   = 203
$zIndexPhotoFrame = 214
$zIndexHeader     = 234
$zIndexMask       = 1999
$zIndexPopup      = 2000
$zIndexToast      = 2333
$zIndexTooltip    = 23333
